#grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 2fr));
    /* grid-auto-flow: dense; */
    grid-gap: 1rem;
    margin: .6rem 0;

}

.gs {
    position: "relative";
    width: "100%";
    height: "30rem";
    object-fit: "cover";
    z-index: 1;
    overflow: hidden;
}

@media (max-width: 380px){
    .grid {
        grid-template-columns: repeat(2, minmax(0, 2fr));
    }
}


@media (max-width: 480px){
    .grid {
        grid-template-columns: repeat(3, minmax(0, 2fr));
    }
}
@media (max-width: 680px) {
    .grid {
        grid-template-columns: repeat(3, minmax(0, 2fr));
    }
}
